#geographicSelectsOptions input[type="radio"]{
 margin-right: 5px;
}
#geographicSelectsOptions .groupTogether{
 margin-left: 20px;
 width: 90%;
 margin-top: 15px;
 background-color: #E4E3FF;
 padding: 22px;
 border: 4px solid navy;
 -moz-border-radius: 20px !important;
 -webkit-border-radius: 20px !important;
 border-radius: 25px;
 -moz-box-shadow: 10px 5px 5px grey;
 -webkit-box-shadow: 10px 5px 5px grey;
 box-shadow: 10px 5px 5px grey;
 z-index: 9;
}
#geographicSelectsOptions .groupTogether h3{
 margin: 0px;
}

