#geographicSelectsOptions input[type="radio"]{
 margin-right: 5px;
}
#geographicSelectsOptions .groupTogether{
 margin-left: 20px;
 width: 90%;
 margin-top: 15px;
 background-color: #E4E3FF;
 padding: 22px;
 border: 4px solid navy;
 -moz-border-radius: 20px !important;
 -webkit-border-radius: 20px !important;
 border-radius: 25px;
 -moz-box-shadow: 10px 5px 5px grey;
 -webkit-box-shadow: 10px 5px 5px grey;
 box-shadow: 10px 5px 5px grey;
 z-index: 9;
}
#geographicSelectsOptions .groupTogether h3{
 margin: 0px;
}

#signupPage {
 width: 808px;
 margin-left: 33px;
 margin-top: 60px;
 background-color: #D6FFD8;
 padding: 22px;
 border: 10px solid green;
 -moz-border-radius: 25px 25px 25px 25px !important;
 -webkit-border-radius: 25px 25px 25px 25px !important;
 border-radius: 25px;
 -moz-box-shadow: 10px 5px 5px grey;
 -webkit-box-shadow: 10px 5px 5px grey;
 box-shadow: 10px 5px 5px grey;
 z-index: 9;

}
#signupPage h1{;
 font-family: Georgia,serif;
 font-size: 41px;
 font-weight: 400;
 font-style: normal;
 color: #3F4D5A;
 text-transform: none;
 text-decoration: none;
 letter-spacing: normal;
 word-spacing: 0;
 line-height: 47px;
 text-align: center;
 vertical-align: baseline;
 direction: ltr;
 margin-bottom: 25px;
}
#signupPage h2{
 font-family: Arial,sans-serif;
 font-size: 18px;
 font-weight: bold;
 font-style: normal;
 color: #3F4D5A;
 text-transform: none;
 text-decoration: none;
 letter-spacing: normal;
 word-spacing: 0;
 line-height: 21.5833px;
 text-align: start;
 vertical-align: baseline;
 direction: ltr;
 margin: 0;
} 
#signupPage h2 small{;
 font-family: Arial,sans-serif;
 font-size: 11px;
 font-weight: 400;
 font-style: normal;
 color: #9DADBA;
 text-transform: none;
 text-decoration: none;
 letter-spacing: normal;
 word-spacing: 0;
 line-height: 13.3667px;
 text-align: start;
 vertical-align: baseline;
 direction: ltr;
}
#signupPage input,select{
 font-family: Georgia,serif;
 font-size: 20px;
 font-weight: 400;
 font-style: normal;
 color: #000000;
 text-transform: normal;
 text-decoration: none;
 letter-spacing: normal;
 word-spacing: 0;
 line-height: 24px;
 text-align: start;
 vertical-align: baseline;
 direction: ltr;
 Background;
 background-color: transparent;
 background-image: -moz-linear-gradient(50% 0%, #E5F3F8, #FFFFFF);
 background-image: -webkit-gradient(linear, left top, left bottom, from(#E5F3F8), to(#fff));
 background-image: #fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5F3F8', endColorstr='#FFFFFF'); 
 background-repeat: repeat;
 background-position: 0 0;
 background-attachment: scroll;
 opacity: 1;
 width: 493px;
 height: 30px;
 top: auto;
 right: auto;
 bottom: auto;
 left: auto;
 margin: 12px 0 6px 0;
 padding-top: 4px;
 padding-right: 10px;
 padding-bottom: 4px;
 padding-left: 10px;
 border: 1px solid #999999;
 position: static;
 display: block;
 visibility: visible;
 z-index: auto;
 overflow-x: visible;
 overflow-y: visible;
 white-space: normal;
 clip: auto;
 float: none;
 clear: none;
 -moz-box-sizing: content-box;
 -webkit-box-sizing: content-box;
 -moz-border-radius: 5px 5px 5px 5px !important;
 -webkit-border-radius: 5px 5px 5px 5px !important;
 border-radius: 5px 5px 5px 5px !important;
 cursor: text;
 list-style-image: none;
 list-style-position: outside;
 list-style-type: disc;
 marker-offset: auto;
}
#signupPage .oneColumnFormat{
 clear: both;
} 
#signupPage .twoColumnFormat{
 float: left;
 width:365px;
} 
#signupPage .twoColumnFormat input {
 width: 340px;
}
#creditCardPage input{
 width: 250px;
}

#mainLogo{
 z-index: 99;
 width: 275px;
}
#mainLogo img{
 width:310px;
}

#signupNavBar{
 clear: both;
 margin-left:230px;
}
#signupNavBar .active{
 
}
#signupNavBar .inActive{
 margin: 0px;
 opacity: .5;
}

#submitForm div{
 margin: 0px 0px 5px 0px;
 padding: 5px;
}
#submitForm div p{
 height:25px;
 font-size: 13px;
 margin-left: 14px;
 text-align: left;
}

#submitForm .ui-tabs-hide{
 display: none !important;
}
#submitForm .ui-tabs-nav{
 font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
 font-size: 15px;
 font-weight: 700;
 font-style: normal;
 color: #FFFFFF;
 text-transform: none;
 text-decoration: none;
 letter-spacing: normal;
 word-spacing: 0;
 line-height: 14.3px;
 text-align: start;
 vertical-align: baseline;
 direction: ltr;
 background-color: transparent;
 opacity: 1;
 width: 497.2px;
 height: 27.3px;
 top: auto;
 right: auto;
 bottom: auto;
 left: auto;
 margin-top: 0;
 margin-right: 0;
 margin-bottom: 0;
 margin-left: 0;
 padding-top: 2.2px;
 padding-right: 2.2px;
 padding-bottom: 0;
 padding-left: 2.2px;
 border: none;
 box-shadow: none;
 position: static;
 display: block;
 visibility: visible;
 z-index: auto;
 overflow-x: visible;
 overflow-y: visible;
 white-space: normal;
 clip: auto;
 float: none;
 clear: none;
 cursor: auto;
 list-style-image: none;
 list-style-position: outside;
 list-style-type: none;
 marker-offset: auto;
 }
#submitForm .ui-tabs-panel{
 background-color: #FCF6CF;
 border: 2px solid #2F9916;
 border-radius: 4px;
 padding: 25px 0 0 0;
 -moz-box-shadow: 3px 3px 3px #88AA8C;
 overflow-y: scroll;
 height: 475px;
 clear: both;
}
#submitForm .ui-tabs-panel div.faq{
 margin-top: 10px;
 margin-left: 23px;
 padding: 0;
}
#submitForm .ui-tabs-panel div.faq p{
 height: auto;
}
#submitForm .ui-tabs-panel p{
 margin-top:12px;
}
#submitForm .ui-tabs-panel ul{
 list-style: disc inside;
 margin-top: 10px;
}
#submitForm .ui-tabs-panel li{
 font: menu;
 color: infotext;
 list-style: inherit;
 margin: 0px 30px;
 padding: 10px;
}
#submitForm .ui-tabs-panel h3{
 margin: 25px 0 10px 25px;
}
#submitForm .ui-state-default{
 color: #3F4D5A;
 direction: ltr;
 font-family: Georgia,serif;
 font-size: inherit;
 font-style: normal;
 font-weight: 400;
 text-decoration: none;
 line-height: 14.3px;
 text-align: center;
 background-color: #C3BF97;
 width: 142px;
 height: 25.3px;
 top: 7px;
 right: 0;
 bottom: -1px;
 left: 0;
 margin: 0 0 1px 6px;
 border-top-width: 1px;
 border-right-width: 1px;
 border-bottom-width: 0;
 border-left-width: 1px;
 border-color: #D3D3D3;
 border-top-style: solid;
 border-right-style: solid;
 border-bottom-style: none;
 border-left-style: solid;
 white-space: nowrap;
 float: left;
 padding-top: 6px;
 position: relative;
 }
#submitForm .ui-state-default a{
 color: inherit;
} 
#submitForm .ui-tabs-selected {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-font-feature-settings: inherit;
    -moz-font-language-override: inherit;
    background-color: #FCF6CF;
    border-color: #2F9916 #2F9916 -moz-use-text-color;
    border-radius: 4px 4px 0 0;
    border-style: solid solid none;
    border-width: 2px 2px medium;
    bottom: -1px;
    box-shadow: none;
    clear: none;
    clip: auto;
    color: #EB8F00;
    cursor: auto;
    direction: ltr;
    display: list-item;
    float: left;
    font-family: inherit;
    font-size: inherit;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    height: 37px;
    left: 0;
    letter-spacing: normal;
    line-height: 14.3px;
    list-style: none outside none;
 margin: 0 0 -6px 6px;

    marker-offset: auto;
    overflow: visible;
    padding: 6px 10px 0;
    position: relative;
    right: 0;
    text-align: center;
    text-decoration: none;
    text-transform: none;
 top: 5px;
    vertical-align: baseline;
    visibility: visible;
    white-space: nowrap;
    width: 142px;
    word-spacing: 0;
    z-index: 9;
}
#submitForm .ui-tabs-selected a{
 color: inherit;
} 
 
#submitForm #showPackages{
 clear: both;
 margin-top: 25px;
 border: 2px solid #F0EBA2;
 background: -moz-linear-gradient(-80deg,#FFFDCD,#FFFBAD);
 -moz-border-radius: 10px;
 -moz-box-shadow: 3px 3px 3px #88AA8C;
}
#submitForm #showPackages h2{
 text-align:center;
 margin-top: 5px;
}
#submitForm #showPackages table {
 border-collapse: collapse;
 font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
 font-size: 12px;
 margin-top: 10px;
}
#submitForm #showPackages table th {
 color: #003399;
 font-size: 13px;
 font-weight: normal;
 padding: 8px;
 text-align: center;
 border: 1px solid #F0EBA2;
 background: -moz-linear-gradient(-90deg, #FFFDCD, #D8DB5F);

}
#submitForm #showPackages table td {
 color: #666699;
 padding: 8px;
 text-align: center;
 border: 1px solid #F0EBA2;
}
#submitForm #showPackages table td h3{
 font-family: verdana;
 font-size: 18px;
 font-weight: 700;
 font-style: normal;
 color: #003399;
 text-align: center;
 margin: 0px;
}
#submitForm #showPackages table thead th.rounded-q4 {
    background: url("https://www.free-seo.biz/images/thewebsiteauditors/tableTopRightBlue.png") no-repeat scroll right -1px #B9C9FE;
}
#submitForm #showPackages table tbody tr:hover td {
    background: none repeat scroll 0 0 #D0DAFD;
}
#submitForm #showPackages table-nohover {
    border-collapse: collapse;
    font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    font-size: 12px;
    margin: 45px;
    text-align: left;
    width: 900px;
}
#submitForm #showPackages table-nohover th {
    background: none repeat scroll 0 0 #B9C9FE;
    color: #003399;
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
}
#submitForm #showPackages table-nohover td {
    background: none repeat scroll 0 0 #E8EDFF;
    border-top: 1px solid #FFFFFF;
    color: #666699;
    padding: 8px;
}
#submitForm #showPackages table-nohover thead th.rounded-q4 {
    background: url("https://www.free-seo.biz/images/thewebsiteauditors/tableTopRightBlue.png") no-repeat scroll right -1px #B9C9FE;
}
#submitForm #showPackages input[type="submit"]{
 padding:0px;
 font-size: 12px;
 -moz-box-shadow: 2px 2px 1px #ABA885;

}

#frontPage{
 margin-left: 81px;
 margin-top: 60px;
 background-color: #D6FFD8;
 width: 530px;
 padding: 22px;
 border: 10px solid green;
 -moz-border-radius: 25px 25px 25px 25px !important;
 -webkit-border-radius: 25px 25px 25px 25px !important;
 border-radius: 25px;
 -moz-box-shadow: 10px 5px 5px grey;
 -webkit-box-shadow: 10px 5px 5px grey;
 box-shadow: 10px 5px 5px grey;
 
}
#frontPage span{
 float: right;
 padding-right:22px;
 font-family: Arial,sans-serif;
 font-size: 11px;
 font-weight: 400;
 font-style: normal;
 color: #9DADBA;
 text-transform: none;
 text-decoration: none;
 letter-spacing: normal;
 word-spacing: 0;
 line-height: 13.3667px;
 text-align: start;
 vertical-align: baseline;
 direction: ltr;
}
#frontPage input[type="text"]{;
 font-family: Georgia,serif;
 font-size: 20px;
 font-weight: 400;
 font-style: normal;
 color: #000000;
 text-transform: normal;
 text-decoration: none;
 letter-spacing: normal;
 word-spacing: 0;
 line-height: 24px;
 text-align: start;
 vertical-align: baseline;
 direction: ltr;
 Background;
 background-color: transparent;
 background-image: -moz-linear-gradient(50% 0%, #E5F3F8, #FFFFFF);
 background-image: -webkit-gradient(linear, left top, left bottom, from(#E5F3F8), to(#fff));
 background-image: #fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5F3F8', endColorstr='#FFFFFF'); 
 background-repeat: repeat;
 background-position: 0 0;
 background-attachment: scroll;
 opacity: 1;
 width: 493px;
 height: 30px;
 top: auto;
 right: auto;
 bottom: auto;
 left: auto;
 margin: 12px 0 6px 0;
 padding-top: 4px;
 padding-right: 10px;
 padding-bottom: 4px;
 padding-left: 10px;
 border: 1px solid #999999;
 position: static;
 display: block;
 visibility: visible;
 z-index: auto;
 overflow-x: visible;
 overflow-y: visible;
 white-space: normal;
 clip: auto;
 float: none;
 clear: none;
 -moz-box-sizing: content-box;
 -webkit-box-sizing: content-box;
 -moz-border-radius: 5px 5px 5px 5px !important;
 -webkit-border-radius: 5px 5px 5px 5px !important;
 border-radius: 5px 5px 5px 5px !important;
 cursor: text;
 list-style-image: none;
 list-style-position: outside;
 list-style-type: disc;
 marker-offset: auto;
}
#frontPage textarea{;
 font-family: Georgia,serif;
 font-size: 20px;
 font-weight: 400;
 font-style: normal;
 color: #000000;
 text-transform: none;
 text-decoration: none;
 letter-spacing: normal;
 word-spacing: 0;
 line-height: 24px;
 text-align: start;
 vertical-align: baseline;
 direction: ltr;
 Background;
 background-color: transparent;
 background-image: -moz-linear-gradient(50% 0%, #E5F3F8, #FFFFFF);
 background-image: -webkit-gradient(linear, left top, left bottom, from(#E5F3F8), to(#fff));
 background-image: #fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5F3F8', endColorstr='#FFFFFF'); 
 background-repeat: repeat;
 background-position: 0 0;
 background-attachment: scroll;
 opacity: 1;
 width: 493px;
 height: 150px;
 top: auto;
 right: auto;
 bottom: auto;
 left: auto;
 margin: 12px 0 6px 0;
 padding-top: 4px;
 padding-right: 10px;
 padding-bottom: 4px;
 padding-left: 10px;
 border: 1px solid #999999;
 position: static;
 display: block;
 visibility: visible;
 z-index: auto;
 overflow-x: visible;
 overflow-y: visible;
 white-space: normal;
 clip: auto;
 float: none;
 clear: none;
 -moz-box-sizing: content-box;
 -webkit-box-sizing: content-box;
 -moz-border-radius: 5px 5px 5px 5px !important;
 -webkit-border-radius: 5px 5px 5px 5px !important;
 border-radius: 5px 5px 5px 5px !important;
 cursor: text;
 list-style-image: none;
 list-style-position: outside;
 list-style-type: disc;
 marker-offset: auto;
}
#frontPage input[type="submit"]{
font-family: Arial,Helvetica,sans-serif;
 font-size: 19px;
 font-weight: bold;
 font-style: normal;
 color: #FFFFFF;
 text-transform: none;
 text-decoration: none;
 letter-spacing: normal;
 word-spacing: 0;
 line-height: 23.6167px;
 text-align: center;
 vertical-align: baseline;
 direction: ltr;
 Background;
 background-color: #5BBA47;
 background-image: -moz-linear-gradient(50% 0%, #5BBA47, #42833C);
 background-image: -webkit-gradient(linear, left top, left bottom, from(#5BBA47), to(#42833C));
 background-image: #5BBA47; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5BBA47', endColorstr='#42833C'); 
 background-repeat: repeat;
 background-position: 0 0;
 background-attachment: scroll;
 opacity: 1;
 top: auto;
 right: auto;
 bottom: auto;
 left: auto;
 margin: 0;
 padding-top: 5px;
 padding-right: 40px;
 padding-bottom: 5px;
 padding-left: 40px;
 border-top-width: 1px;
 border-right-width: 1px;
 border-bottom-width: 1px;
 border-left-width: 1px;
 border-top-color: #2F9916;
 border-right-color: #2F9916;
 border-bottom-color: #2F9916;
 border-left-color: #2F9916;
 border-top-style: solid;
 border-right-style: solid;
 border-bottom-style: solid;
 border-left-style: solid;
 position: static;
 display: inline;
 visibility: visible;
 z-index: auto;
 overflow-x: visible;
 overflow-y: visible;
 white-space: pre;
 clip: auto;
 float: none;
 clear: none;
 -moz-box-sizing: border-box;
 -moz-border-radius: 5px 5px 5px 5px !important;
 -webkit-border-radius: 5px 5px 5px 5px !important;
 border-radius: 5px 5px 5px 5px;
 cursor: pointer;
 list-style-image: none;
 list-style-position: outside;
 list-style-type: disc;
 marker-offset: auto
}
#frontPage input[type="submit"]:hover{
 font-family: Arial,Helvetica,sans-serif;
 color: yellow;
}
#frontPage #dummySubmitButton{
 opacity: .5;
}
#frontPage #dummySubmitButton:hover{
 color: white;
}
#frontPage .videoDiv{
 margin: 65px 58px;
}

.helpQuestionMark {
 -moz-border-radius: 14px 14px 14px 14px;
 background-color: yellow;
 border: 2px solid green;
 color: DarkOliveGreen;
 font-size: 15px;
 font-weight: 800;
 padding: 3px 9px;
 position: relative;
 top: -6px;
}
#showVideoButton {
 -moz-border-radius: 27px 27px 27px 27px;
 -website-border-radius: 27px 27px 27px 27px;
 border-radius: 27px 27px 27px 27px;
 -moz-box-shadow: 4px 4px 4px #003100;
 -website-box-shadow: 4px 4px 4px #003100;
 box-shadow: 4px 4px 4px #003100;
 background-color: #F0F4F9;
 border: 5px solid #AAD3AE;
 color: #006101;
 font-family: arial;
 font-size: 21px;
 font-size-adjust: none;
 font-stretch: normal;
 font-style: normal;
 font-variant: normal;
 line-height: normal;
 padding: 12px 16px;
 position: relative;
 top: -6px;
}
#showVideoButton:hover{
 text-decoration: none;
 background-color: SkyBlue;
 color: black;
}
#helpBox_BG{
 display: none;
 width: 100%;
 height: 100%;
 background-color: black;
 opacity: .8;
 position: fixed;
 top: 0;
 left: 0;
 z-index: 1000;
}
#helpBox_FG{
 display: none;
 width: 940px;
 height: 675px;;
 background-color: #CBDEEE;
 position: fixed;
 top: 160px;
 z-index: 1001;
 border: 5px solid #2B3C4A;
}
#helpBox_FG h1{
 font-family: Arial,Helvetica;
 font-size: 52px;
 font-weight: bold;
 font-style: normal;
 color: #2B3C4A;
 text-transform: none;
 text-decoration: none;
 letter-spacing: normal;
 word-spacing: 0;
 line-height: 61.7px;
 text-align: center;
 vertical-align: baseline;
 direction: ltr;
}
#helpBox_FG .video {
 border: 2px solid #2B3C4A;
 float: left;
 margin-left: 7px;
 margin-top: 30px;
}
#helpBox_FG #xOut{
 -moz-box-shadow: -2px 2px 2px #2B3C4A;
 -moz-border-radius: 14px 14px 14px 14px;
 background-color: yellow;
 border: 2px solid #2B3C4A;
 color: #2B3C4A;
 font-size: 15px;
 font-weight: 800;
 padding: 3px 8px;
 position: relative;
 top: -15px;
 left: 15px;
 float: right;
}

#googlePreview {
 border: none;
 display: none;
}
#googlePreview p{
 font-family: Arial,Helvetica,sans-serif;
 font-size: 24px;
 font-weight: bold;
 font-style: normal;
 color: teal;
 margin-bottom: 10px;
 margin-right: 10px;
 margin-top: 36px;
 text-align: right;
}
#googlePreview div{
 background-color:white;
 padding: 2px;
 -moz-box-shadow: 4px 2px 2px grey;
 -webkit-box-shadow: 4px 2px 25px grey;
 box-shadow: 4px 2px 2px grey;
 border: 1px solid blue;
}
#googlePreview div h1{
 font-family: arial,sans-serif;
 font-size: 16px;
 font-weight: 400;
 font-style: normal;
 color: #2200C1;
 text-transform: none;
 text-decoration: underline;
 letter-spacing: normal;
 word-spacing: 0;
 line-height: 19.2px;
 text-align: start;
 vertical-align: baseline;
 direction: ltr;
 Background;
 background-color: transparent;
 background-image: none;
 background-repeat: repeat;
 background-position: 0 0;
 background-attachment: scroll;
 opacity: 1;
 width: auto;
 height: auto;
 top: auto;
 right: auto;
 bottom: auto;
 left: auto;
 margin-top: 0;
 margin-right: 0;
 margin-bottom: 0;
 margin-left: 0;
 padding-top: 0;
 padding-right: 0;
 padding-bottom: 0;
 padding-left: 0;
 border-top-width: 0;
 border-right-width: 0;
 border-bottom-width: 0;
 border-left-width: 0;
 border-top-color: #2200C1;
 border-right-color: #2200C1;
 border-bottom-color: #2200C1;
 border-left-color: #2200C1;
 border-top-style: none;
 border-right-style: none;
 border-bottom-style: none;
 border-left-style: none;
 position: static;
 display: inline;
 visibility: visible;
 z-index: auto;
 overflow-x: visible;
 overflow-y: visible;
 white-space: normal;
 clip: auto;
 float: none;
 clear: none;
 -moz-box-sizing: content-box;
 cursor: pointer;
 list-style-image: none;
 list-style-position: outside;
 list-style-type: none;
 marker-offset: auto
}
#googlePreview div h2{
font-family: arial,sans-serif;
 font-size: 13px;
 font-weight: 400;
 font-style: normal;
 color: #000000;
 text-transform: none;
 text-decoration: none;
 letter-spacing: normal;
 word-spacing: 0;
 line-height: 15.6px;
 text-align: start;
 vertical-align: baseline;
 direction: ltr;
 Background;
 background-color: transparent;
 background-image: none;
 background-repeat: repeat;
 background-position: 0 0;
 background-attachment: scroll;
 opacity: 1;
 width: 100%;
 top: auto;
 right: auto;
 bottom: auto;
 left: auto;
 margin-top: 0;
 margin-right: 0;
 margin-bottom: 0;
 margin-left: 0;
 padding-top: 0;
 padding-right: 0;
 padding-bottom: 0;
 padding-left: 0;
 border-top-width: 0;
 border-right-width: 0;
 border-bottom-width: 0;
 border-left-width: 0;
 border-top-color: #000000;
 border-right-color: #000000;
 border-bottom-color: #000000;
 border-left-color: #000000;
 border-top-style: none;
 border-right-style: none;
 border-bottom-style: none;
 border-left-style: none;
 position: static;
 display: block;
 visibility: visible;
 z-index: auto;
 overflow-x: visible;
 overflow-y: visible;
 white-space: normal;
 clip: auto;
 float: none;
 clear: none;
 -moz-box-sizing: content-box;
 cursor: auto;
 list-style-image: none;
 list-style-position: outside;
 list-style-type: none;
 marker-offset: auto
}
#googlePreview div h2 a{
 color: green;
}

#previewPane {
 border: none;
 display: none;
}
#previewPane p{
 font-family: Arial,Helvetica,sans-serif;
 font-size: 24px;
 font-weight: bold;
 font-style: normal;
 color: teal;
 margin-bottom: 10px;
 margin-right: 10px;
 margin-top: 36px;
 text-align: right;
}



